faiss-cpu
google_search_results
gradio
gradio_client
huggingface-hub
Jinja2
jiter
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
matplotlib
numpy
openai
pandas
protobuf
pypdf
python-dotenv
streamlit
tiktoken
wikipedia
